<app-table>
  <thead appTableHeader>
    <tr appTableRow>
      @for (column of columns(); track column.name) {
        <th class="group" appTableCell>
          @if (column.sortable) {
            <a
              [routerLink]="column.link"
              [queryParams]="{'order_by': column.query, desc: !desc()}"
              queryParamsHandling="merge"
              variant="ghost"
              size="sm"
              appButton
            >
              {{ column.name }}
              <span
                [ngClass]="{
                  'opacity-100': sortField() === column.field,
                  '[transform:rotateX(180deg)]': sortField() === column.field && !desc(),
                }"
                class="material-symbols-outlined text-base opacity-0 transition-opacity group-hover:opacity-100"
              >
                sort
              </span>
            </a>
          } @else {
            {{ column.name }}
          }
        </th>
      }
    </tr>
  </thead>
  <tbody appTableBody>
    @for (row of data(); track row.id) {
      <tr appTableRow>
        @for (column of columns(); track column.name) {
          <td appTableCell>
            {{ row[column.field] }}
          </td>
        }
      </tr>
    }
  </tbody>
</app-table>
