<nav
  *transloco="let t; prefix: 'PATTERNS.BREADCRUMBS'"
  aria-label="breadcrumb"
  class="flex items-center gap-2 text-sm text-muted-foreground"
>
  @for (breadcrumb of breadcrumbs(); track breadcrumb.label) {
    @let label = t(breadcrumb.label);

    @if ($last) {
      <span class="text-foreground">{{ label }}</span>
    } @else {
      <a [routerLink]="'/' + breadcrumb.path" class="hover:text-foreground">
        {{ label }}
      </a>
      <span class="material-symbols-outlined text-sm leading-none"> chevron_right </span>
    }
  }
</nav>
