<section class="flex flex-col gap-6 -mt-6 lg:flex-row">
  <div class="flex flex-col gap-6 flex-1">
    <app-news-item />
    <app-news-item />
    <app-news-item />
  </div>
  <div class="flex flex-col gap-6 flex-[2]">
    <app-news-item variant="featured" />
    <app-news-item variant="featured" />
  </div>
  <div class="flex flex-col gap-6 flex-1">
    <app-news-item />
    <app-news-item />
    <app-news-item />
  </div>
</section>
<div class="h-[0.8px] my-6 bg-border lg:my-14"></div>
<section>
  <h2 class="mb-7 text-2xl font-mono">Most Popular</h2>
  <div class="flex flex-col gap-6 lg:flex-row">
    <app-news-item class="flex-[4]" variant="featured" />
    <div class="flex-[6]">
      <app-news-item variant="horizontal-featured" />
      <div class="border my-6"></div>
      <app-news-item variant="horizontal-featured" />
    </div>
  </div>
</section>
