$background-basic-color: #37353c;
$background-info-color: #6c4dee;
$background-hint-color: #EEEDF4;
$background-alternative-color: #ffffff;

$text-basic-color: #37353c;
$text-hint-color: #83808c;
$text-control-color: #bbb9bf;
$text-alternative-color: #f7f7fb;

$black: rgba(0, 0, 0, .9);
$purple: #573CCB;
$purple-dark: #393060;
$grey: #E7E6EE;
$grey-light: #e5e4f0;
$grey-dark: #5C5965;
$emerald: #00FFFC;

$font-size-heading: 2.75rem; // 44px
$font-size-heading-2: 2.25rem; // 36px
$font-size-heading-3: 1.75rem; // 28px;
$font-size-heading-4: 1.375rem; // 22px
$font-size-paragraph: 1.125rem; // 18px
$font-size-paragraph-2: 1rem; // 16px
$font-size-caption: 0.875rem; // 14px
$font-size-caption-2: 0.75rem; // 12px
$font-size-label: 0.625rem; // 10px
$font-size-label-2: 0.5625rem; // 9px

$breakpoint-small-desktop: 991px;
